Flask==0.10.1
Flask-Mail==0.9.1
Flask-SQLAlchemy==2.1
Jinja2==2.8
MarkupSafe==0.23
SQLAlchemy==1.0.9
WTForms==2.0.2
Werkzeug==0.15.5
blinker==1.4
itsdangerous==0.24
ordereddict==1.1
requests==2.8.1
wsgiref==0.1.2
