{% extends "layout.html" %}

{% block title %}{{ g.title }}{% endblock %}

{% block body %}
<h1>{{ g.title }}</h1>
{% if queryData %}
	{% include "map/mapControls.html" %}
{% endif %}
<div>
	{% if assignments %}
		{% for assignment in assignments %}
			<div id="liveCountAssignment" style="width:300px;float:left;margin:6pt 6pt 0 0;padding:6pt;border: 1pt solid #666;">
				<p style="font-weight:900;margin:0;padding:0;">{{ assignment[4]}}: <span  style="font-weight:400;margin:0;padding:0;">{{ assignment[5]|default("0",true)}}</span></p>
			</div>
		{% endfor %}
	{% endif %}
</div>
{% endblock body %}