{% extends "layout.html" %}

{% block title %}{{ g.title }} List{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='map/map.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='map/map.css') }}" type="text/css" media="all" >
    <script type="text/javascript" src="{{ url_for('static', filename='map/leaflet/leaflet-src.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='map/leaflet/leaflet.css') }}" type="text/css" media="all" >
    <script type="text/javascript" src="{{ url_for('static', filename='map/leaflet/leaflet.markercluster-src.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='map/leaflet/MarkerCluster.css') }}" type="text/css" media="all" >
    <link rel="stylesheet" href="{{ url_for('static', filename='map/leaflet/MarkerCluster.Default.css') }}" type="text/css" media="all" >
{% endblock head %}

{% block body %}
	<h2>{{ g.title }}</h2>
	{%if recs %}
		<div id="tripsMap"></div>

        <script type="text/javascript">
            // Initialize the map
            var map = new BAWAMap('{{ config.MAPBOX_PROJECT_ID }}', '{{ config.MAPBOX_ACCESS_TOKEN }}',"tripsMap", 14);
            // Add trip locations
            {% for rec in recs %}
	            {% if g.title == 'All Locations' %} {# Location Records #}
					{% set cluster = 'false' %}
					{% if rec.latitude != '' and rec.longitude != '' %}
		               map.addTripLocation('{{ rec.locationName }}', {{ rec.latitude }}, {{ rec.longitude }});
					{% endif %}
	            {% endif %}
	 			{% if g.title == 'Trips Map'%}{# Trip records #}
					{# cant rely on the column naming from sqlalchemy since I dont know how to sum on a column (bl) #}
					{% set locationName = rec[0]%}
					{% set locationLatitude = rec[1]%}
					{% set locationLongitude = rec[2]%}
					{% set tripCount = rec[3]%}
					{% set cluster = 'true' %}
                	{% if locationLatitude != '' and locationLongitude != '' %}
	                    map.addTripLocation('{{ locationName|default("Huh?") }}', {{ locationLatitude }}, {{ locationLongitude }}, {{ tripCount|default(0) }});
	                {% endif %}
	            {% endif %}
            {% endfor %}
            // Add markers for locations to map
            map.setLocationMarkers(true, false, {{ cluster|default("true") }});
        </script>
  	{% else %}
    	<p><em>No Trips to map</em></p>
	{% endif %}
{% endblock body %}