<div id="mapControls">
	<form action="" name="mapControlsForm" method="post" accept-charset="utf-8">
		<h4>Search:</h4>
		<table id="mapControlsTable">
			<tr>
				{% if queryData["orgs"] %}
				<th>Org:</th>
				<td>
					<select id="mapOrgs" name="mapOrgs" class="mapSelect" multiple size="4" >
						<option value="0" {% if queryData["mapOrgs"] and '0' in queryData["mapOrgs"] %}selected{% endif %} >All</option>
						{% for org in queryData["orgs"] %}
							<option value="{{org.ID}}" 
								{%if queryData["mapOrgs"] and org.ID in queryData["mapOrgs"] %} selected {%endif%} 
							>{{org.name}}</option>
						{% endfor %}
					</select>
				</td>
				{% endif %}
				{% if queryData["events"] %}
				<th>Events:</th>
				<td>
					<select id="mapEvents" name="mapEvents" class="mapSelect" multiple size="4">
						<option value="0" {% if queryData["mapEvents"] and '0' in queryData['mapEvents'] %}selected{% endif %}>All</option>
							{% for event in queryData['events'] %}
								<option value="{{event.ID}}" 
									{%if queryData["mapEvents"] and event.ID in queryData["mapEvents"] %} selected {%endif%} 
								>{{event.name}}</option>
							{% endfor %}
					</select>
				</td>
				{% endif %}
				{% if travelers %}
				<th>Travelers:</th>
				<td>
					<select id="mapTravelers" name="mapTravelers" class="mapSelect" multiple size="4">
						<option value="0">All</option>
						{% if travelers %} {% for traveler in travelers %}
						<option value="{{traveler.ID}}" {% if mapTravelers and mapTravelers == traveler.ID %}selected="selected"{%endif%}>{{traveler.name}}</option>
						{% endfor %} {% endif %}
					</select>
				</td>
				{% endif %}
				{% if features %}
				<th>Features:</th>
				<td>
					<select id="mapFeatures" name="mapFeatures" class="mapSelect" multiple size="4">
						<option value="0">All</option>
						{% if features %} {% for feature in features %}
						<option value="{{feature.ID}}" {% if mapFeatures and mapFeatures == feature.ID %}selected="selected"{%endif%}>{{feature.featureClass}} = {{feature.featureValue}}</option>
						{% endfor %} {% endif %}
					</select>
				</td>
				{% endif %}
				<th>
					<p><input id="searchButton" type="submit" name="searchButton" value="Search" /></p>
				{% if queryData['mapType'] == 'trips' %}
					<p><button id="exportButton" type="button" name="exportButton" >Export</button></p>
				{% endif %}
				</th>
			</tr>
		</table>
	</form>
	{% if queryData['mapType'] == 'trips' %}
	<div id="mapExport">
		<h4>Export Options...</h4>
		<form action="{{ g.exportURL }}" id="mapExportForm" name="mapExportForm" method="post" accept-charset="utf-8">
			<textarea style="display:none;" rows="3" cols="80" readonly id="queryDataArea" >{{ queryData|tojson|safe }}</textarea>
			<table id="exportTable">
				<tr>
					<th>Export Style:</th>
					<td>
						<select id="exportStyle" name="exportStyle">
							<option value="summary" selected >Summary</option>
							<option value="detail">Full Detail</option>
							<!-- <option value="nbpd">NBPD Report</option> -->
						</select>
					</td>
					<th>
						<p><input type="submit" value="Download"></p>
					</th>
				</tr>
			</table>
		</form>
		<script>
			// prevent export if search criteria has changed
			$('#exportButton').click(function(){$('#mapExport').toggle();});
			$('select.mapSelect').change(
				function(){
					$('#mapExport').hide();
					$('#exportButton').addClass('disabled').unbind('click').click(
						function(){
							alert('Selection changed.\nClick Search button first.');
							return false;
						}
					);
				}
				)
		
			// can't seem to get the json data into an input field, so append a hidden textarea
			 $("#mapExportForm").submit( function(eventObj) {
					var theQuery = $('#queryDataArea').text();
			      $('<input />').attr('type', 'hidden')
			          .attr('name', "queryData")
			          .attr('value', theQuery)
			          .appendTo('#mapExportForm');
			      return true;
			  });
		</script>
	</div>
	{% endif %}
</div>
