<div id="mapControls">
	<div id="queryData" style="display:block;">'{{ queryData|tojson|safe }}'</div>
	<h4>Search:</h4>
	<table id="mapControlsTable">
		<tr>
			{% if queryData["orgs"] %}
			<th>Org:</th>
			<td>
				<select id="mapOrgs" name="mapOrgs" class="mapSelect" multiple="multiple" size="4">
					<option value="0">All</option>
					{% for org in queryData["orgs"] %}
					<option value="{{org.ID}}" {%if mapOrgs%}
													{% for i in mapOrgs %}
													 	{% if i.ID == org.ID %}select="select"{% endif %}
													{% endfor %}
												{%endif%}>{{org.name}}</option>
					{% endfor %}
				</select>
			</td>
			{% endif %}
			{% if queryData["events"] %}
			<th>Events:</th>
			<td>
				<select id="mapEvents" name="mapEvents" class="mapSelect" multiple="multiple" size="4">
					<option value="0">All</option>
					{% if events %} {% for event in events %}
					<option value="{{event.ID}}" {% if mapEvents and mapEvents == event.ID %}select="select"{%endif%}>{{event.title}}</option>
					{% endfor %} {% endif %}
				</select>
			</td>
			{% endif %}
			{% if travelers %}
			<th>Travelers:</th>
			<td>
				<select id="mapTravelers" name="mapTravelers" class="mapSelect" multiple="multiple" size="4">
					<option value="0">All</option>
					{% if travelers %} {% for traveler in travelers %}
					<option value="{{traveler.ID}}" {% if mapTravelers and mapTravelers == traveler.ID %}select="select"{%endif%}>{{traveler.name}}</option>
					{% endfor %} {% endif %}
				</select>
			</td>
			{% endif %}
			{% if features %}
			<th>Features:</th>
			<td>
				<select id="mapFeatures" name="mapFeatures" class="mapSelect" multiple="multiple" size="4">
					<option value="0">All</option>
					{% if features %} {% for feature in features %}
					<option value="{{feature.ID}}" {% if mapFeatures and mapFeatures == feature.ID %}select="select"{%endif%}>{{feature.featureClass}} = {{feature.featureValue}}</option>
					{% endfor %} {% endif %}
				</select>
			</td>
			{% endif %}
		</tr>
	</table>
</div>
