{% extends "layout.html" %}
{% block title %}{{ g.title }} List{% endblock %}
{% block body %}
	<h2>{{ g.title }} List</h2>
	{%if recs %}
		<table class="datatable">
		<tr>
			<th>ID</th>
			<th>Start Date</th>
			<th>Location</th>
			<th>UID</th>
			<th>Counter</th>
		</tr>
		{% for rec in recs %}
	    <tr>
			<td><a href="{{ g.editURL }}{{ recs[rec]["ID"] }}/">{{ recs[rec]["ID"] }}</a></td>
			<td><a href="{{ g.editURL }}{{ recs[rec]["ID"] }}/">{{ recs[rec]["startDate"] }}</a></td>
			<td>{{ recs[rec]["location"]}}</td>
			<td>{{ recs[rec]["UID"] }}</td>
			<td>{{ recs[rec]["counter"]|default("Unassigned",true)}}</td>
		</tr>
		{% endfor %}
	  </table>
  	{% else %}
    	<p><em>No {{ g.title }}s here so far</em></p>
	{% endif %}
  	<p id="addRecord"><a href="{{ g.editURL }}0/">Add a new {{ g.title }}</a></p>
{% endblock body %}
