{# EventTraveler form for response to AJAX request #}
<form id="travelerFromListForm"  action="" method="POST">
	<input type="hidden" name="ID" value="{{ form.ID.data | default(0,True)}}">
	<input type="hidden" name="countEvent_ID" value="{{ form.countEvent_ID.data | default(g.countEventID,True)}}">
	{% if availableTravelers %}
	<p><span class="field-label">Travelers: </span></p>
	<select name="traveler_ID">
		{% for trav in availableTravelers %}
		<option value="{{trav.ID}}" >{{ trav.name }}</option>
		{% endfor %}
	</select>
	{% endif %}
	{% if eventTravelers %}
	<p><span class="field-label">Display Order: </span></p>
	<select name="sortOrder">
		{% for et in eventTravelers %}
		<option value="{{et.sortOrder}}" >{{ et.locationName }}</option>
		{% endfor %}
	</select>
	{% endif %}
	<div class="travelerEvent-buttons data-element">
		<p>
		<span class="cancel-link" onclick="cancelModalForm()">Cancel</span>
		<input class="assignmentSave" type="button" onclick="submitModalForm('eventTravelerFromList', '{{ url_for('traveler.editEventTraveler')}}', 'travelerList', '{{ url_for('traveler.getTravelerList')}}/{{ form.countEvent_ID.data | default(g.countEventID,True)}}/')" name="Save" value="Save" />
		</p>
	</div>
</form>
</div>
