{% extends "layout.html" %}
{% block title %}Edit {{ g.title }}{% endblock %}
{% block body %}
	<h2>Edit {{ g.title }}</h2>
    <form action="{{ g.editURL }}{{rec.ID|default("0",true)}}/" method=post class="entry">
		<input type=hidden name="ID" value="{{rec.ID|default("0",true)}}">
      <dl>
		{% include "editFormButtons.html" %}
		<dt>Name:
		<dd><input class="req" type=text size=30 name="name" value="{{rec.name|default("",true)}}"/>
		<dt>Traveler Code:
		<dd><input class="req" type=text size=30 name="travelerCode" value="{{rec.travelerCode|default("",true)}}"/>
		<dt>Description:
		<dd><textarea type=text cols="30" rows="5" name="description" >{{rec.description|default("",true)}}</textarea>
		<dt>Icon URL:
		<dd><input type=text size=60 name="iconURL" value="{{rec.iconURL|default("",true)}}" onchange="updateImage(this.value,'#travelerIcon')"/>
			<br><img class="travelerIcon" src="{{rec.iconURL|default("//bikeandwalk.org/images/travelers/unknown.png",true)}}" />
		
		<dt>Features:</dt>
		<dd>
			<select id="featureSet" style="min-height:10em;" name="featureSet" multiple>
				{% for elem in range(lastFeature) %}
				<option value="{{features[elem].ID}}" {% if features[elem].featureSelected %}selected="selected"{% endif %} >{{features[elem].featureClass}} = {{features[elem].featureValue}}</option>
				{% endfor %}
			</select>
		</dd>
      </dl>
    </form>
{% endblock body %}
