{# A single element in the Assignment list used in the count event form #}
{% if rec %}
<div class="assignmentListRow" id="assignmentListItem_{{rec.ID}}" >
	<p><strong>Location:</strong> {{ rec.locationName }}</p>
	<p><strong>Assignment UID:</strong> <code>{{ rec.assignmentUID }}</code></p>
	<p><strong>Assigned To:</strong> 
		<span {% if rec.user_ID == 0 %}class="alert"{% endif %}>{{ rec.userName |default("Unassigned",true)}}</span>
		<span class="assignmentActionSpacer">&nbsp;</span>
		<span class="assignmentActions script-link"
			{% if not rec.userName %}
			onclick="if(confirm('No one assiged. Would you like to do that now?')){
				editFromList('{{ url_for('assignment.editFromList')}}/{{rec.ID}}/');
			}"
			{% else %}
			onclick="if(confirm('Send Invitation Email to {{ rec.userName }}?')){
				sendAssignmentEmail('{{ url_for('count_event.sendAssignmentEmail') }}/{{ rec.ID }}/');
				// refresh the whole assignment list...
				$('#assignmentList').load('{{ url_for('assignment.getAssignmentList') }}/{{ rec.countEvent_ID }}/');
				}"
			{% endif %}
			>Send Invitation 
		</span>{% if rec.invitationSent != "" %}&nbsp;(Sent - {{rec.invitationSent}}){%endif%}
	</p>
	<p class="assignmentActions">
		<span class="assignmentEditTrips script-link" onclick="editFromList('{{ url_for('assignment.editTripsFromList')}}/{{ rec.ID }}/');">Enter Trips</span>
		<span class="assignmentActionSpacer">&nbsp;</span>
	{% if totalTrips == 0 %}
		<span class="assignmentDeleteFromList script-link" 
		onclick="deleteFromList('{{ url_for('assignment.deleteFromList')}}/{{ rec.ID }}/','assignmentListItem_{{rec.ID}}')"
		>Remove Location...
		</span>
		<span class="assignmentActionSpacer">&nbsp;</span>
	{% else %}
		<span class="assignmetnTotalTrips">Trips Recorded: {{totalTrips}}</span>
		<span class="assignmentActionSpacer">&nbsp;</span>
	{% endif %}
	<span class="editAssignmentFromList script-link" 
		onclick="editFromList('{{ url_for('assignment.editFromList')}}/{{rec.ID}}/')"
		>Edit Assignment...
	</span>
	</p>
</div>
{% endif %}