{# A single element in the Assignment list used in the count event form #}
{% if rec %}
{# the <table> tags are provided by the calling method #}
<tbody class="assignmentTableRow" id="assignmentListItem_{{rec.ID}}" >
		<tr>
			<th>
				Location:
			</th>
			<th>
				Assignment UID:
			</th>
			<th>
				Assigned To:
			</th>
		</tr>
		<tr>
			<td>
				{{ rec.locationName }}
			</td>
			<td>
				<code>{{ rec.assignmentUID }}</code>
			</td>
			<td>
				<span {% if rec.user_ID == 0 %}class="alert"{% endif %}>{{ rec.userName |default("Unassigned",true)}}</span>
			</td>
		</tr>
		<tr>
			<td colspan="3" >
				<p class="assignmentActions">
					{% if totalTrips == 0 %}
				<span class="deleteAssignmentFromList script-link" 
					onclick="deleteFromList('{{ url_for('assignment.deleteFromList')}}/{{ rec.ID }}/','assignmentListItem_{{rec.ID}}')"
					>Delete...
				</span>
				<span class="assignmentActionSpacer">&nbsp;</span>
				{% endif %}
				<span class="totalTrips">Trips Recorded: {{totalTrips}}</span>
				<span class="assignmentActionSpacer">&nbsp;</span>
				<span class="editAssignmentFromList script-link" 
					onclick="editFromList('{{ url_for('assignment.editFromList')}}/{{rec.ID}}/')"
					>Edit...
				</span>
				<span class="assignmentActionSpacer">&nbsp;</span>
				<span class="assignmentActions script-link" 
					onclick="$.get({{ url_for('assignment.sendInvitationEmail')}}/{{ rec.ID }}/)"
					>Send Invitation
				</span>
				</p>
			</td>
		</tr>
</tbody>
{% endif %}