{# assignment form for response to AJAX request #}
<form id="assignmentFromListForm"  action="" method="POST">
	<input type="hidden" name="ID" value="{{ form.ID.data | default(0,True)}}">
	<input type="hidden" name="countEvent_ID" value="{{ form.countEvent_ID.data | default(g.countEventID,True)}}">
	{% if locations %}
	<p><span class="field-label">{{ form.locationName.label }}: </span></p>
	<select name="location_ID">
		<option value="0">Choose a location</option>
		{% for loc in locations %}
		<option value="{{loc.ID}}" >{{ loc.locationName }}</option>
		{% endfor %}
	</select>
	{% else %}
	{{ form.location_ID }}
	{{ form.locationName }} {# input must be in form as input or name will be blank after validation errors #}
	<div class="data-element">
		<p><span class="field-label">{{ form.locationName.label }}: </span>{{ form.locationName.data }}</p>
	</div>
	{% endif %}
	<div class="data-element">
		{# Disable users in select who are already assigned to this event #}
		<p><span class="field-label">{{ form.user_ID.label }}: </span>
			{% with users = form.user_ID.choices %}
			<select id="user_ID" name="user_ID" >
				{% for userid, label in users %}
				<option value="{{ userid }}" {% if userid in assigned and userid != 0 and userid != form.user_ID.data %}disabled{% endif%} {% if userid == form.user_ID.data %}selected="selected"{% endif %} >{{ label }}</option>
				{% endfor %}
			</select>
			{% endwith %}
		</p>
		{% with errors = form.user_ID.errors %}{% if  errors %}
			<ul class=errors>
			{% for error in errors %}
				<li>{{ error }}</li>
			{% endfor %}
		</ul>
		{% endif %} {# if errors #} {% endwith %}
	</div>
	<div class="assignment-buttons data-element">
		<p>
		<span class="cancel-link" onclick="cancelModalForm()">Cancel</span>
		<input class="assignmentSave" type="button" onclick="submitModalForm('assignmentFromListForm', '{{ url_for('assignment.editFromList')}}', 'assignmentList', '{{ url_for('assignment.getAssignmentList')}}/{{ form.countEvent_ID.data | default(g.countEventID,True)}}/')" name="Save" value="Save" />
		</p>
	</div>
</form>
</div>
