{% extends "layout.html" %}

{% block title %}Edit {{ g.title }}{% endblock %}

{% block head %}
    <script type="text/javascript" src="{{ url_for('static', filename='map/map.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='map/map.css') }}" type="text/css" media="all" >
    <script type="text/javascript" src="{{ url_for('static', filename='map/leaflet/leaflet-src.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='map/leaflet/leaflet.css') }}" type="text/css" media="all" >
{% endblock head %}

{% block body %}
	<h2>Edit {{ g.title }}</h2>
	{% if form %}
	<div id="form-contain">
    <form class="entry" action="{{ g.editURL }}{{rec.ID|default("0",true)}}/" method="POST" enctype="multipart/form-data">
		{% include "editFormButtons.html" %}
		{% from "_form_helpers.html" import render_field_in_table %}
			{{ form.csrf_token }}
      <table class="edit-form-table">
			{% for f in form %}
				{{ render_field_in_table(f) }}
			{% endfor%}
      </table>
    </form>
	</div>
	<div id="locationMap"></div>
    <script type="text/javascript">
        // Initialize the map
        var map = new BAWAMap("locationMap", 15);
        // Add the location
        map.addSimpleLocation('{{rec.locationName}}', {{rec.latitude}}, {{rec.longitude}});
        // Add markers for location to map
        map.setLocationMarkers(true);
    </script>
	{% else %}
		<dt>No form found</dt>
	{% endif %}
{% endblock body %}
