{% extends "count/base.html" %}
{% block title %}Bike And Walk Web{% endblock %}

{% block head %}
<script type="text/javascript" src="{{ url_for('static', filename='count/js/count.js') }}"></script>
<script type="text/javascript">
	$(document).ready(function() {startUp();});
</script>
{% endblock head %}

{% block body %}
<div id="modalDiv"></div>
<div id="contain">
	<div id="menuContain">
		<p onclick="showMenu()" id="menuButton">...</p>
		<div id="menuList">
			<ul>
				<li onclick="showCountPage()">Show Count Page</li>
				<li onclick="showFormPage()">Show Form Page</li>
				<li onclick="submitReport()">Submit Report</li>
			</ul>
		</div>
	</div>
	<div id="countContain" >
		<p id="countName"><strong>{{ location.locationName }}</strong></p>
		{% if gridType == "screenline" %}
			{% include "count/screenline.html" %}
		{% else %} {# Intersection by default #}
			{% include "count/intersection.html" %}
		{% endif %}
		<div id="travelerList">
			{% for elem in range(g.travelerCnt) %}
				<p id="traveler_{{travelers[elem].row}}" class="traveler" data-travelerID="{{travelers[elem].ID}}"
					style="background-image:url({{travelers[elem].iconURL}});" >
					<span id="Cnt_traveler_{{travelers[elem].row}}" class="travelerCnt">0</span>
				</p>
				{% endfor %}
		</div>
		<p class="clear"></p>
		<p id="undoCounts" >Clear</p>
	</div>
	<div id="countTotals">
		<p class="smallPrint">
			Total Count: <span class="smallPrint" id="total">0</span>
		</p>
		<p class="smallPrint">
			Pending Upload: <span class="smallPrint" id="pending">0</span>
		</p>
	</div>
	<div id="infoContain">
		<!-- User and location information -->
		<form id="countInfo" method="post" action="#" onSubmit="return false">
			<input id="location" type="hidden" value="{{ location.ID }}" >
			<input id="countEvent" type="hidden" value="{{ event.ID }}" >
			<p>Assignment ID: <br />
				<input id="assignmentUID" name="assignmentUID" type="text" value="{{ g.UID }}" disabled="disabled" /></p>
			<p>Location Name: <br />
				<input name="locationName" type="text" value="{{ location.locationName }}" disabled="disabled" /></p>
			<p>Street running North to South: <br />
				<input name="NS_streetName" type="text" value="{{ location.NS_Street }}" disabled="disabled" /></p>
			<p>Street running East to West: <br />
				<input name="EW_streetName" type="text" value="{{ location.EW_Street }}" disabled="disabled" /></p>
			<p>Your name: <br />
				<input name="counterName" type="text" value="{{user.name}}" disabled="disabled" /></p>
		</form>
	</div>
	<div id="dataContain">
		<p>Data: </p>
		<pre id="data"></pre>
	</div>
	<p id="footer">Bike and Walk</p>
</div>
{% endblock %}
