{% macro render_field_in_table(field) %}
  <tr><th>{% if field.type != "HiddenField" %}{{ field.label }}: {% endif %}</th><td><p {% if field.required %}class="req"{% endif %} >{{ field(**kwargs)|safe }}</p>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
	</td></tr>
{% endmacro %}

{% macro render_field(field) %}
  <p>{% if field.type != "HiddenField" %}<strong>{{ field.label }}: </strong>{% endif %}{{ field(**kwargs)|safe }}</p>
  {% if field.errors %}
    <ul class=errors>
    {% for error in field.errors %}
      <li>{{ error }}</li>
    {% endfor %}
    </ul>
  {% endif %}
{% endmacro %}

