{% extends "layout.html" %}
{% block title %}Admin Center{% endblock %}
{% block body %}
  <h3>Welcome to the Bike and Walk Admin Area</h3>
	{% if not g.user %}
		{% include "onlyAdmins.html" %}
	{% else %}
		{% if g.role == 'super' %}
		<p><strong>Select Org:</strong>
		<select value="orgSwitch" onchange="orgSwitch(this)">
			{% for org in orgs %}
			<option value="{{org.ID}}" {% if org.ID == g.orgID %}selected="selected"{% endif %}>{{org.name}}</option>
			{% endfor %}
		</select></p>
		<div id="super_menu" class="admin_menu">
			<h5>Super Menu</h5>
			<ul>
				<li><a href="{{ url_for('org.org_list')}}">Organization List</a></li>
				<li><a href="{{ url_for('feature.display')}}">Feature List</a></li>
				<li><a href="{{ url_for('traveler.display')}}">Traveler List</a></li>
				<li><a href="{{ url_for('assignment.display')}}">Assignment List</a></li>
				<li><a href="{{ url_for('trip.display')}}">Trip List</a></li>
			</ul>
		</div>
		{% endif %} {# super menu #}
		{% if g.role == 'admin' or g.role == 'super' %}
		<div class="admin_menu">
				<h5>Administration Menu</h5>
			<ul>
				<li><a href="{{ url_for('user.display')}}">User List</a></li>
				<li><a href="{{ url_for('location.display')}}">Location List</a></li>
				<li><a href="{{ url_for('count_event.display')}}">Event List</a></li>
				<li><a href="{{ url_for('report.display')}}">Reports and Exports</a></li>
			</ul>
		</div>
		{% else %}
			{% include "onlyAdmins.html"%}
		{% endif %} {# admin menu #}
	{% endif %} {# not a user #}
		<p class="clear">&nbsp;</p>
{% endblock %}