<!DOCTYPE html>
<html lang="en">
<head>
	<title>{% block title%}{% endblock %} - Bike and Walk</title> 
	<link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" >
    <link rel="SHORTCUT ICON" type="image/vnd.microsoft.icon" href="{{ url_for('static', filename='favicon.ico') }}" >
	<meta http-equiv="X-UA-Compatible" content="IE=Edge">
	
	<link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">

	<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>
	<script src="{{ url_for('static', filename='bikeandwalk.js') }}"></script>
	{% if g.tripTotalCount and g.tripTotalCount > 0 %}
	<script type="text/javascript">
		$(document).ready(function(){
				$("a#form_delete_link").hide();
		});
	</script>
	{% endif %}
    {% block head%}{% endblock %}
</head>
<body>
<div id="contain">
	<div id="dialog"></div><div id="modal-form-contain"><div id="modal-form"></div></div>
	<div>
		<a id="header_home" href="{{ url_for('home')}}"> 
			<img src="{{ url_for('static', filename='images/HeaderLogo128.png') }}" id="headerlogo" />
		</a>
		<h1><a id="header_home" href="{{ url_for('home')}}">Bike and Walk App</a></h1> 
	</div>
	<div class="authbar">
		<p>
			{% if g.user %} Signed in as <em>{{ g.user }}</em> (<a href="{{ url_for("login.logout")}}" class=signout>Sign out</a>) {% else %} Not signed in. <a href="{{ url_for("login.login")}}" class=signin>Sign in</a> {% endif %} 
		</p>
		{% if g.organizationName and g.organizationName != '': %} 
		<p>
			Organization Name: <strong>{{g.organizationName}}</strong> {% if request.path != url_for('home') %}&nbsp;&nbsp;&nbsp;<a href="{{url_for('home')}}">Go to Menu</a>{%endif%} 
		</p>
		{% else %}
		{% if request.path != url_for('home') and g.user %}<p><a href="{{url_for('home')}}">Go to Admin Menu</a></p>{%endif%}
		{% if request.path != url_for('report.display') %}<p><a href="{{url_for('report.display')}}">Go to Report Menu</a></p>{%endif%}
		{% endif %} 
	</div>
	{% include "flasher.html" %}
	{% block body %}{% endblock %} 
</div>
</body>
</html>
